.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.board {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
  display: flex;
  flex-direction:  row;
}

.word {
  /*display:  flex;*/
  flex-direction: row;
}

.cell {
  background-color:  blue;
  margin-left:  5px;
  margin-bottom:  5px;
  /*flex-direction: row;*/
}



.keyboard {

}

.keyboard__key {
  padding:  10px;
  margin:  2px;
}

.keyboard__key--correct {
  color: yellow;
}

.cell__letter {
  text-color:  white;
  color:  white;
}