.App {
  text-align: center;
}

.toolbar {
  background-color: dimgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.board {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
  display: flex;
  flex-direction:  row;
}

.word {
  flex-direction: row;
}

.cell-- {
  background-color:  dimgrey;
  margin-left:  5px;
  margin-bottom:  5px;
  display:  flex;
  justify-content: center;
  justify-text:  center;
}

.cell--ABSENT {
  background-color:  dimgrey;
  margin-left:  5px;
  margin-bottom:  5px;
  display:  flex;
  justify-content: center;
  justify-text:  center;
}

.cell--PRESENT {
  background-color:  #d5d51e;
  margin-left:  5px;
  margin-bottom:  5px;
  display:  flex;
  justify-content: center;
  justify-text:  center;
}

.cell--CORRECT {
  background-color:  green;
  margin-left:  5px;
  margin-bottom:  5px;
  display:  flex;
  justify-content: center;
  justify-text:  center;
}


.cell__letter {
  display:  flex;
  text-color:  white;
  color:  white;
  padding:  10px;
  font-size:  40px;
}



.keyboard {
}

.keyboard__key {
  padding:  10px;
  margin:  2px;
  border-style: solid;
  font-size: 13px;

}

.keyboard__key--ABSENT {
  background-color:  dimgrey;
  border-style: solid;
  padding:  10px;
  margin:  2px;
  font-size: 13px;
  border-color: dimgrey;

}

.keyboard__key--PRESENT {
  background-color:  #d5d51e;
  border-color:  #d5d51e;
  border-style: solid;
  padding:  10px;
  margin:  2px;
  font-size: 13px;

}

.keyboard__key--CORRECT {
  background-color: green;
  border-color: green;
  border-style: solid;
  padding:  10px;
  margin:  2px;
  font-size: 13px;

}


